{% load i18n %}{% autoescape off %}
{% blocktranslate %}Você recebeu este e-mail porque solicitou uma redefinição de senha para sua conta em {{ site_name }}.{% endblocktranslate %}

{% translate "Clique no link abaixo para redefinir sua senha:" %}
{{ protocol }}://{{ domain }}{% url 'eventos:password_reset_confirm' uidb64=uid token=token %}

{% translate 'Seu nome de usuário:' %} {{ user.get_username }}

{% translate "Obrigado por usar nosso site!" %}

{% blocktranslate %}A equipe do {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
