{% extends "dashboard_base.html" %}

{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="reset-password-container">
    <h2 class="titulo">{% trans "Senha alterada" %}</h2>
    <p class="text-muted">
        {% trans 'Sua senha foi alterada. Já pode entrar com a nova senha.' %}
    </p>
    <a href="{% url 'account_login' %}" class="btn btn-app w-100">
        {% trans "Ir para o login" %}
    </a>
</div>
{% endblock content %}
