{% extends "dashboard_base.html" %}

{% load allauth i18n %}

{% block head_title %}
    {% trans "Alterar Senha" %}
{% endblock head_title %}

{% block action %}
<h2 class="d-flex justify-content-between align-items-center flex-wrap gap-2">
    <span>
        Alterar Senha
    </span>
    <a href="{% url 'organizador:profile' %}" class="btn btn-sm btn-outline-secondary">
         <i class="fa fa-arrow-left"></i> Voltar
    </a>
</h2>
{% endblock action %}

{% block content %}
<div class="password-change-container">
    <!-- <h2 class="titulo">
        {% trans "Alterar Senha" %}
    </h2> -->

    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ redirect_field }}

        <div class="form-group">
            <!-- {{ form.oldpassword.label_tag }} -->
            {{ form.oldpassword }}
            <i class="fa-solid fa-lock"></i>
            {% if form.oldpassword.errors %}
                <div class="text-danger">
                    {% for error in form.oldpassword.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <!-- {{ form.password1.label_tag }} -->
            {{ form.password1 }}
            <i class="fa-solid fa-lock"></i>
            {% if form.password1.errors %}
                <div class="text-danger">
                    {% for error in form.password1.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <!-- {{ form.password2.label_tag }} -->
            {{ form.password2 }}
            <i class="fa-solid fa-lock"></i>
            {% if form.password2.errors %}
                <div class="text-danger">
                    {% for error in form.password2.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-app">
            {% trans "Alterar Senha" %}
        </button>

        <a href="{% url 'account_reset_password' %}" class="btn btn-link">
            {% trans "Esqueceu a senha?" %}
        </a>
    </form>
</div>
{% endblock content %}

